.tip {
  &FixedTop {
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    .closeIcon {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      color: #aaa;
      z-index: 100;
    }
  }
  &Top {
    // width: 100%;
    // height: 50px;
    // position: relative;
    .closeIcon {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      color: #aaa;
      z-index: 100;
    }
  }
}
