.wbImage {
  width: 100% !important;
  height: auto !important;
  min-width: inherit !important;
  max-width: inherit !important;
  min-height: inherit !important;
  max-height: inherit !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  margin: 0 !important;
}
