$radio-radius: 4px;
$radio-width: 98px;
$radio-height: 40px;
$radio-bg: rgba(247, 247, 247, 1);
$radio-ative-color: #cc9952;

.selector {
  &--inner {
    background-color: $radio-bg;
    border-radius: $radio-radius;
    width: $radio-width;
    color: rgba(51, 51, 51, 1);
    height: $radio-height;
    line-height: $radio-height;
    text-align: center;
    font-size: 12px;
    padding: 0 2px;
    margin: 4px 0;
    border: 1px solid transparent;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.is-checked {
      border-color: $radio-ative-color;
      color: $radio-ative-color;
      background: #fff;
    }
    &:nth-child(3n-1) {
      margin: 4px 8px;
    }
    //.text-ellipsis-multi-line(1);
    input {
      display: none;
    }
  }
}
