.transition-box {
  display: flex;
  overflow-x: auto;
  position: relative;
  &__item {
    &--vertical {
      flex-direction: column;
    }
  }
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
  }
}
