.home-header {
  background-size: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgb(203, 63, 47);
  // &__bg {
  //   height: 116px;
  //   background: url("//static.wbiao.co/p/share/mp/images/home/head-bj.png?2020")
  //     no-repeat;
  //   background-size: 100%;
  //   position: absolute;
  //   z-index: 1;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   border-bottom-left-radius: 100% 10%;
  //   border-bottom-right-radius: 100% 10%;
  // }
  &__content {
    position: relative;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
  }
}
