.home {
  background-color: #f2f2f2;
  padding-bottom: 50px;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  &-list-title {
    margin: 16px 0;
  }
  &-section {
    font-size: 0;
    &.bg {
      background-color: #fff;
    }
  }
}

.content {
  height: 120px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}
