.tabbar {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  min-height: 50px;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background: #fff;
  font-weight: bold;
  font-size: 14px;
}
