.tabbar {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  min-height: 50px;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background: #fff;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  &Item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    &Wrap {
      position: absolute;
      top: -27px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
    }
    &Name {
      font-size: 12px;
      transform: scale(0.8);
      color: #333;
      text-align: center;
    }
    &Tag {
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(243, 126, 126, 1) 0%,
        rgba(235, 85, 85, 1) 100%
      );
      border-radius: 8px 8px 8px 1px;
      top: -6px;
      right: -24px;
      font-size: 12px;
      transform: scale(0.84);
      padding: 3px 0px;
      width: 42px;
      text-align: center;
      color: #fff;
    }
  }
}
