*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: 0;
}
a {
  color: inherit;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
input {
  border-radius: 0;
}

html,
body {
  -webkit-text-size-adjust: none;
  user-select: none;
  font-size: 14px;
  /* background: rgba(241, 241, 241, 1); */
}
/* 适配iphonex */
body {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
