*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: 0;
}
a {
  color: inherit;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
input {
  border-radius: 0;
}

html,
body {
  -webkit-text-size-adjust: none;
  user-select: none;
  font-size: 14px;
  background-color: #f5f5f5;
  height: 100%;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: 50px; /* 兼容不支持 env( ) 的设备  */
  padding-bottom: calc(
    env(safe-area-inset-bottom) + 50px
  ); /* 在 iphone x + 中本句才会生效 */
  padding-left: env(safe-area-inset-left);
}
